<h1>Listing medical_records</h1>

<table>
  <tr>
    <th>Pet</th>
    <th>Rabies</th>
    <th>Distemper</th>
    <th>Conditions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medical_records.each do |medical_record| %>
  <tr>
    <td><%= medical_record.pet_id %></td>
    <td><%= medical_record.rabies %></td>
    <td><%= medical_record.distemper %></td>
    <td><%= medical_record.conditions %></td>
    <td><%= link_to 'Show', medical_record %></td>
    <td><%= link_to 'Edit', edit_medical_record_path(medical_record) %></td>
    <td><%= link_to 'Destroy', medical_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medical record', new_medical_record_path %>
