<p id="notice"><%= notice %></p>

<p>
  <b>Pet:</b>
  <%= @medical_record.pet_id %>
</p>

<p>
  <b>Rabies:</b>
  <%= @medical_record.rabies %>
</p>

<p>
  <b>Distemper:</b>
  <%= @medical_record.distemper %>
</p>

<p>
  <b>Conditions:</b>
  <%= @medical_record.conditions %>
</p>


<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
