%h2 Sign Up
= form_for @user, :as => :user, :url => yourpet_new_user_path, :method => :put do |f|
  %p
    = f.label 'username:'
    %br/
    = f.text_field :username
    = show_field_error(@user, :username)
  %p
    = f.label 'email:'
    %br/
    = f.text_field :email
    = show_field_error(@user, :email)
  %p
    = f.label 'password:'
    %br/
    = f.password_field :password
    = show_field_error(@user, :password)
  %p
    = f.label 'password confirmation:'
    %br/
    = f.password_field :password_confirmation
    = show_field_error(@user, :password_confirmation)
  %p
    = f.submit 'Sign Up'

