%h1 Sign Up
= form_for @user, :as => :user, :url => yourpet_new_user_path, :method => :put do |f|
  %p
    = f.label 'username:'
    = f.text_field :username
    = show_field_error(@user, :username)
  %p
    = f.label 'email:'
    = f.text_field :email
    = show_field_error(@user, :email)
  %p
    = f.label 'first_name:'
    = f.text_field :first_name
  %p
    = f.label 'last_name:'
    = f.text_field :last_name
  %p
    = f.label 'password:'
    = f.password_field :password
    = show_field_error(@user, :password)
  %p
    = f.label 'password confirmation:'
    = f.password_field :password_confirmation
  %p
    = f.label 'SecurityQuestion:'
    = f.text_field :securityQuestion
  %p
    = f.label 'SecurityAnswer:'
    = f.text_field :securityAnswer
  %p
    = f.submit 'Next-->',:id => "newuser", :name => "newuser"

