%p
%h1 Complaints/Suggestions
%h2 Hi #{User.find_by_id(session[:user_id]).username}!
= link_to 'Sign out', :yourpet_signed_out, :id => "Sign_out", :name => "Sign_out", :class => "linkstyle2"
= form_for @complaint, :as => :complaint, :url => yourpet_create_complaint_path(@complaint) do |f|
  %p
    = f.label 'Name'
    %br/
    = f.text_field :username
  %p
    = f.label 'Complaints/Suggestions'
    %br/
    = f.text_area :content, :rows => 2, :cols => 60, :autocomplete => :off, :class => "textareabytes"    
  %p
    = f.submit 'Submit',:id => "submit_complaint", :name => "submit_complaint", :class => "ButtonStyle"
