%p 
%h1 Welcome to your Pet's Profile!
%h2 Hi #{User.find_by_id(session[:user_id]).username}!
= link_to 'Sign out', :yourpet_signed_out, :id => "Sign_out", :name => "Sign_out", :class => "linkstyle1"

%table#petprofile
 %tbody
  %tr
   %td= "Petname"
   %td= @pet.petname
  %tr
   %td= "Owner"
   %td= @user.username
  %tr
   %td= "Pet DOB"
   %td= @pet.dob
  %tr
   %td= "Pet Gender"
   %td= @pet.gender
  %tr
   %td= "Pet Breed"
   %td= @pet.breed
  %tr
   %td= "Pet Color"
   %td= @pet.color
  %tr
   %td= "Interest"
   %td= @pet.interest
  %tr
   %td= "Description"
   %td= @pet.description 

%p
= link_to "Medical Records", medical_record_path
%p
= link_to 'complaints/suggestions', :yourpet_create_complaint, :id => "complaints_suggestions", :name => "complaints_suggestions"

